<h1 style="font-family: Arial, Helvetica, sans-serif;">Alerta do Tesouro</h1>
<p>Olá!</p>

{{!-- TODO: Use env variable --}}
<h3><strong>Por favor, <a href="http://localhost:3000/confirmar-conta?token={{token}}">clique aqui para confirmar seu
      e-mail</a></strong>. O link irá expirar em 24 horas. (na verdade, 24 horas depende da variável ambiente)</h3>

<small>Você recebeu este e-mail pois criou uma conta no <a href="https://www.alertadotesouro.herokuapp.com">Alerta do
    Tesouro</a>.</small>
