<h1 style="font-family: Arial, Helvetica, sans-serif;">Alerta do Tesouro</h1>
<p>Olá!</p>

<h2>Seus dados foram enviados em anexo. Eles estão estruturados em um arquivo .json, que pode ser aberto por qualquer editor de texto ou importado em outros serviços, se prestarem suporte para tal.</h2>

<small>Você recebeu este e-mail pois pediu uma exportação de dados em <a href="https://www.alertadotesouro.herokuapp.com">Alerta do
    Tesouro</a>.</small>
