<h1 style="font-family: Arial, Helvetica, sans-serif;">Alerta do Tesouro</h1>
<p>Olá!</p>
<h2><strong>{{treasurybond.name}} agora possui retorno de <u>{{treasurybond.annualInvestmentRate}}%</u> ao ano, o que é
    {{notification.type}} que {{notification.value}}%!</h2></strong>

<small>Você recebeu este e-mail pois criou uma notificação em <a href="https://www.alertadotesouro.herokuapp.com">Alerta do
  Tesouro</a>.</small>
