<h1 style="font-family: Arial, Helvetica, sans-serif;">Alerta do Tesouro</h1>
<p>0lรก!</p>
<strong>{{notificationBondName}} agora possui retorno {{notificationType}} que {{notificationValue}}%!</strong>
